<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <a
          class="icon "
          href="https://github.com/alexandrespindola" target="_blank"
        >
          <i class="fa fa-github fa-2x"></i>
        </a>
      </p>
      <div class="control level-item">
        <a href="https://www.linkedin.com/in/alexandrespindola" target="_blank">
          <div class="tags has-addons">
            <span class="tag is-primary">Alexandre Spindola</span>
            <span class="tag is-dark">Web Developer</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  {% comment %}
  <script src="../js/bulma.js"></script>
  {% endcomment %}
</footer>
