<footer class="footer">
    <div class="content is-flex is-flex-direction-column has-text-centered">
      <div class="is-flex is-flex-direction-row is-justify-content-center is-flex-wrap-nowrap" style="gap: 1rem">
        <p>
          <a
            class="icon "
            href="https://github.com/alexandrespindola" target="_blank"
          >
            <i class="fa fa-github fa-2x"></i>
          </a>
        </p>
        <p>
          <a
            class="icon "
            href="https://www.linkedin.com/in/alexandrespindola" target="_blank"
          >
            <i class="fa fa-linkedin fa-2x"></i>
          </a>
        </p>
      </div>
      <div class="control level-item">
        <a href="https://www.linkedin.com/in/alexandrespindola" target="_blank">
          <div class="tags has-addons">
            <span class="tag is-primary">Alexandre Spindola</span>
            <span class="tag is-dark">Web Developer</span>
          </div>
        </a>
      </div>
    </div>
  </div>
  {% comment %}
  <script src="../js/bulma.js"></script>
  {% endcomment %}
</footer>
