<header>
  <section class="hero is-info is-medium is-bold">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <p class="has-text-weight-bold">
                Prometeu.Tech
              <p/>
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
            </span>
          </div>
          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
              <div class="tabs is-right">
                <ul>
                  <li><a href="/eventos">Events</a></li>
                </ul>
                <span class="navbar-item">
                  <a
                    class="button is-white is-outlined"
                    href="https://github.com/alexandrespindola/gerenciador-de-eventos" target=_blank>
                    <span class="icon">
                      <i class="fa fa-github"></i>
                    </span>
                    <span title="Ver código">View code</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </section>
</header>