{% extends 'app/base.html' %} 

{% load static %}

{% block title %} Prometeu Events Manager {% endblock %} 

{% block content %}
<section class="hero is-primary is-medium is-bold">
  <div class="hero-body">
    <div class="container is-flex is-flex-direction-column is-justify-content-center is-align-items-center is-align-content-center has-text-centered is-flex-wrap-wrap">
      <img src="{% static 'app/media/img/logo-prometeu.svg' %}" alt="Logo Prometeu" style="object-fit: contain; width: 200px; height: 200px">
      <h1 class="title is-1">Prometeu.tech<br><span class="subtitle" style="font-size: 2rem">Event Manager</span></h1>
      <h2 class="subtitle is-5">
        Manage and organize events in a practical and efficient way
      </h2>
      <a href="{% url 'eventos:event_list' %}" class="button is-info"
        >View events</a>
    </div>
  </div>
</section>

{% include 'eventos/lista_de_eventos.html' %}

<div class="box cta">
  <p class="has-text-centered">
    <span class="tag is-info">IMPORTANT</span> This project is part of the Match! Mastertech/IBM Program
  </p>
</div>

<section class="container">
  <div class="columns" style="margin-top: 5rem">
    <div class="column has-text-centered">
      <h2 class="subtitle is-3">
        Check out the technologies used to create this site
      </h2>
    </div>
  </div>
  <div class="columns features is-flex-wrap-wrap">
    
    {% include "app/components/card.html" with title="Python" subtitle="Language" description="Python is a high-level programming language known for its clear syntax and code readability. This makes development faster and more efficient. In addition, Python has a large ecosystem of libraries and frameworks, making it a versatile choice for a variety of applications, from web development to data science and machine learning." logo_path='app/media/img/python.svg' logo_alt='Logo Python' %}

    {% include "app/components/card.html" with title="Django" subtitle="Backend Framework" description='Django is a high-level web development framework that encourages rapid development, clean design, and a pragmatic approach. With a component-based architecture and a "batteries included" philosophy, Django allows developers to create robust applications with less code and in less time.' logo_path='app/media/img/django.svg' logo_alt='Logo Django' %}

    {% include "app/components/card.html" with title="Bulma" subtitle="CSS Framework" description="Bulma is a Flexbox-based CSS framework that provides a variety of ready-to-use, responsive, and reusable components. With its easy-to-understand syntax and flexible customization, Bulma allows developers to create modern and attractive user interfaces with ease and efficiency." logo_path='app/media/img/bulma.svg' logo_alt='Logo Bulma' %}

    {% include "app/components/card.html" with title="SASS" subtitle="CSS Preprocessor" description="SASS is a CSS preprocessor that allows the use of variables, functions, inheritance, and other features that make CSS more efficient and easier to maintain. In addition, SASS offers a more organized structure for writing CSS, making the code more readable and easier to maintain, especially for larger projects." logo_path='app/media/img/sass.svg' logo_alt='Logo SASS' %}

    {% include "app/components/card.html" with title="Supabase" subtitle="Database (PostgreSQL)" description="Supabase is an open-source alternative to Firebase that uses PostgreSQL, a powerful and open-source relational database management system. It provides an intuitive user interface and a RESTful API to manage your database, in addition to real-time features and integrated authentication." logo_path='app/media/img/supabase.svg' logo_alt='Logo Supabase' %}

    {% include "app/components/card.html" with title="Render" subtitle="Server" description="Render is a cloud platform that allows you to deploy web applications quickly and easily. It supports automatic deployments from Git repositories and offers a variety of services, such as managed PostgreSQL databases, persistent storage, and cron jobs." logo_path='app/media/img/render.svg' logo_alt='Logo Server' %}
      </div>
  </div>
</section>

{% endblock %}