{% extends 'app/base.html' %}

{% block title %}
Gerenciamento de Eventos
{% endblock %}

{% block header %}
<h1>Bem vindo ao Gerenciador de Eventos em Django</h1>
{% endblock %}

{% block content %}
<a href="{% url 'eventos:event_list' %}" class="button is-primary">Ver eventos</a>

<section class="hero">
  <div class="hero-body">
    <h1 class="title">My Website</h1>
    <p class="subtitle">Este website está construído em Django e Bulma CSS</p>
  </div>
</section>

{% endblock %}

{% block footer %}

{% endblock %}